.buttonSubmit {
  width: 369px;
  height: 40px;
  background-color: #FDAC3D;
  color: #550101;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 7px;
}

.buttonSubmit:hover {
  background-color: #012842;
  color: #F29F05;
}
