.buttonSubmit {
  width: 23em;
  height: 2.5em;
  background-color: #FDAC3D;
  color: #550101;
  border-radius: 0.6em;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.4em;
}

.confirmButton {
  width: 7.5em;
  height: 2.2em;
  background-color: #011E33;
  color: #FDAC3D;
  border-radius: 0.3em;
  border: none;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: .1rem;
  padding: 0.6em 0.25em;
}
