.orderPad {
  background-color: #F3E3C5;
  width: 26.44em;
  max-height: 50%;
  float: right;
  margin-right: 1.25em;
  margin-top: 1.5em;
}

.backgroundTitleOrders {
  background-color: #FC6C55;
  width: 26.44em;
  height: 2.5em;
  position: absolute;
}

.titleOrders {
  font-weight: bold;
  text-align: center;
  margin: 0.62em;
  font-size: 1.12em;
  letter-spacing: .1rem;
}

.clientAndTable {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3.25em;
  margin-left: -1.37em;
  margin-right: -1.37em;
}

.inputCliente, .inputTable {
  background-color: #E5E5E5;
  border: 0.062em solid black;
  border-radius: 0.31em;
  position: relative;
  height: 1.37em;
  margin-left: 0.18em;
  font-size: 0.93em;
}

.inputCliente {
  width: 10.18em;
}

.inputTable {
  width: 4em;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  margin: 0.75em;
}

.buttonMenu {
  padding: .4em .6em;
  background-color: #023859;
  color: #FDAC3D;
  font-weight: bold;
  width: 12.5em;
  height: 3em;
  border: 0.031em solid #FDAC3D;
  border-radius: 0.31em;
  margin-right: 0.5em;
  cursor: pointer;
}

.totalAndButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.81em;
  margin-right: 0.81em;
  margin-top: 1.43em;
}

.valueOrder {
  font-weight: bold;
  font-size: 1em;
}

.liOrderItem {
  margin-top: 1.43em;
}

.ulOrderItem {
  padding: 0;
  margin-top: 1.62em;
}

.detailCard, .liOrderItem {
  list-style: none;
}

.cardProduct {
  display: flex;
  flex-wrap: wrap;
  width: 31.62em;
  float: left;
  padding-left: 1.75em;
  margin: 1.43em;
}

@media screen and (min-width:1200px) {
  .cardProduct {
    width: 73.75em;
    padding-left: 2.31em;
    margin: 1.25em;
    justify-content: center
  }
}