.orderPad {
  background-color: #F3E3C5;
  width: 423px;
  max-height: 50%;
  float: right;
  margin-right: 20px;
  margin-top: 24px;
}

.backgroundTitleOrders {
  background-color: #FC6C55;
  width: 423px;
  height: 40px;
  position: absolute;
}

.titleOrders {
  font-weight: bold;
  text-align: center;
  margin: 10px;
  font-size: 18px;
  letter-spacing: .1rem;
}

.clientAndTable {
  display: flex;
  justify-content: space-evenly;
  margin-top: 52px;
  margin-left: -22px;
  margin-right: -22px;
}

.inputCliente, .inputTable {
  background-color: #E5E5E5;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  height: 22px;
  margin-left: 3px;
  font-size: 15px;
}

.inputCliente {
  width: 163px;
}

.inputTable {
  width: 64px;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  margin: 12px;
}

.buttonMenu {
  padding: .4em .6em;
  background-color: #023859;
  color: #FDAC3D;
  font-weight: bold;
  width: 168px;
  height: 47px;
  border: 0.5px solid #FDAC3D;
  border-radius: 5px;
  margin-right: 8px;
  cursor: pointer;
}

.totalAndButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 13px;
  margin-right: 13px;
  margin-top: 23px;
}

.valueOrder {
  font-weight: bold;
  font-size: 16px;
}

.liOrderItem {
  list-style: none;
  margin-top: 23px;
}

.ulOrderItem {
  padding: 0;
  margin-top: 26px;
}

.detailCard {
  list-style: none;
}

.cardProduct {
  display: flex;
  flex-wrap: wrap;
  width: 506px;
  float: left;
  padding-left: 28px;
  margin: 23px;
}

@media screen and (min-width:1200px) {
  .cardProduct {
    width: 1180px;
    padding-left: 37px;
    margin: 20px;
    justify-content: center
  }
}