.inputForm {
  width: 23em;
  height: 2.5em;
  border-radius: 0.6em;
  border: none;
  background-color: #FDAC3D;
  margin-top: 0.6em;
  margin-bottom: 0.87em;
  display: block;
}

.labelForm {
  color: #FDAC3D;
  font-weight: bold;
  font-size: 1.12em;
}

input::placeholder {
  color: #550101;
  font-size: 0.81em;
  padding-left: 0.18em;
}
