.buttonRemoveAndAdd {
  width: 1.37em;
  height: 1.37em;
  padding: 0.31em;
}

.orderDetails {
  padding: 0.37em;
  font-size: 1.06em;
  display: inline;
}

.counter {
  display: flex;
  align-items: center;
  float: right;
  margin-top: -1.12em;
}

.inputCounter {
  background-color: #E5E5E5;
  border: 0.062em solid black;
  border-radius: 0.31em;
  width: 2.43em;
  height: 1.12em;
  text-align: center;
  font-weight: bold;
  padding: 0.25em;
}