.buttonRemoveAndAdd {
  width: 22px;
  height: 22px;
  padding: 5px;
}

p {
  display: inline;
}

.orderDetails {
  padding: 6px;
  font-size: 17px;
}

.counter {
  display: flex;
  align-items: center;
  float: right;
  margin-top: -18px;
}

.inputCounter {
  background-color: #E5E5E5;
  border: 1px solid black;
  border-radius: 5px;
  width: 39px;
  height: 18px;
  text-align: center;
  font-weight: bold;
  padding: 4px;
}