.card {
  background-color: #F3E3C5;
  width: 147px;
  height: 175px;
  border-radius: 5px;
  padding: 30px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.img {
  width: 80px;
  height: 80px;
}

.detailProduct {
  color: black;
  font-size: 0.9rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 3px;
  margin: 0;
}

.buttonAddProduct {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-transform: uppercase;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(317px, 1fr));
  grid-gap: 0;
}