.card {
  background-color: #F3E3C5;
  width: 147px;
  height: 175px;
  border-radius: 5px;
  padding: 30px;
}

.img {
  width: 80px;
  height: 80px;
}

.detailProduct {
  color: black;
  font-size: 0.9rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

