footer {
  text-align: center;
  bottom: 0;
  left: 0;
  margin-bottom: -6em;
  position: fixed;
  width: 100%;
  color: #BF3604;
  font-weight: bold;
}

.linkFooter {
  text-decoration: none;
  color: #BF3604;
  cursor: pointer;
  font-weight: bold;
}